
<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>Action Journal</title>
<link href="../static/css/styles.css" rel="stylesheet"/>
</head>
<body>
<header>
<nav class="navbar">
<ul>
<li><a href="index.html">Home</a></li>
<li><a href="action-journal.html">Action Journal</a></li>
<li><a href="about.html">About</a></li>
<li><a href="faq.html">FAQ</a></li>
</ul>
</nav>
<h1>Action Journal</h1>
</header>
<main id="workouts">
<section id="workout-cards">
<div class="card">
<h2>Fizzing with ideas</h2>
<p><strong>Date:</strong> February 01, 2025</p>
<p><strong>Distance (miles):</strong> 1.02 miles</p>
<p><strong>Elevation Gain (feet):</strong> 244 ft</p>
<p><strong>Moving Time:</strong> 13:05</p>
<p><strong>Avg HR:</strong> 148.1</p>
<p><strong>Max HR:</strong> 156.0</p>
<a href="https://www.strava.com/activities/13511570305" rel="noopener noreferrer" target="_blank">View on Strava</a>
</div>

<div class="card">
<h2>Solving A Grafana &amp; Cloudflare problem</h2>
<p><strong>Date:</strong> January 18, 2025</p>
<p><strong>Distance (miles):</strong> 2.42 miles</p>
<p><strong>Elevation Gain (feet):</strong> 0 ft</p>
<p><strong>Moving Time:</strong> 25:04</p>
<p><strong>Avg HR:</strong> 128.2</p>
<p><strong>Max HR:</strong> 148.0</p>
<a href="https://www.strava.com/activities/13389087451" rel="noopener noreferrer" target="_blank">View on Strava</a>
</div>
<div class="card">
<h2>Keep going, you'll find snow</h2>
<p><strong>Date:</strong> January 14, 2025</p>
<p><strong>Distance (miles):</strong> 2.39 miles</p>
<p><strong>Elevation Gain (feet):</strong> 0 ft</p>
<p><strong>Moving Time:</strong> 24:51</p>
<p><strong>Avg HR:</strong> 128.7</p>
<p><strong>Max HR:</strong> 137.0</p>
<a href="https://www.strava.com/activities/13353378033" rel="noopener noreferrer" target="_blank">View on Strava</a>
</div>
<div class="card">
<h2>The Deeper Circuit</h2>
<p><strong>Date:</strong> January 06, 2025</p>
<p><strong>Distance (miles):</strong> 2.40 miles</p>
<p><strong>Elevation Gain (feet):</strong> 0 ft</p>
<p><strong>Moving Time:</strong> 23:55</p>
<p><strong>Avg HR:</strong> 134.0</p>
<p><strong>Max HR:</strong> 142.0</p>
<a href="https://www.strava.com/activities/13281780835" rel="noopener noreferrer" target="_blank">View on Strava</a>
</div>
<div class="card">
<h2>Le 1 Mile Cruise</h2>
<p><strong>Date:</strong> January 04, 2025</p>
<p><strong>Distance (miles):</strong> 1.03 miles</p>
<p><strong>Elevation Gain (feet):</strong> 247 ft</p>
<p><strong>Moving Time:</strong> 12:41</p>
<p><strong>Avg HR:</strong> 154.5</p>
<p><strong>Max HR:</strong> 161.0</p>
<a href="https://www.strava.com/activities/13259883846" rel="noopener noreferrer" target="_blank">View on Strava</a>
</div>
<div class="card">
<h2>Ski Circuit</h2>
<p><strong>Date:</strong> December 30, 2024</p>
<p><strong>Distance (miles):</strong> 2.08 miles</p>
<p><strong>Elevation Gain (feet):</strong> 0 ft</p>
<p><strong>Moving Time:</strong> 20:48</p>
<p><strong>Avg HR:</strong> 127.9</p>
<p><strong>Max HR:</strong> 140.0</p>
<a href="https://www.strava.com/activities/13223882936" rel="noopener noreferrer" target="_blank">View on Strava</a>
</div>
<div class="card">
<h2>2 mile ski circle</h2>
<p><strong>Date:</strong> December 26, 2024</p>
<p><strong>Distance (miles):</strong> 2.04 miles</p>
<p><strong>Elevation Gain (feet):</strong> 0 ft</p>
<p><strong>Moving Time:</strong> 20:01</p>
<p><strong>Avg HR:</strong> 139.8</p>
<p><strong>Max HR:</strong> 152.0</p>
<a href="https://www.strava.com/activities/13194771725" rel="noopener noreferrer" target="_blank">View on Strava</a>
</div>
<div class="card">
<h2>Roller Ski Morning</h2>
<p><strong>Date:</strong> December 24, 2024</p>
<p><strong>Distance (miles):</strong> 1.93 miles</p>
<p><strong>Elevation Gain (feet):</strong> 0 ft</p>
<p><strong>Moving Time:</strong> 19:12</p>
<p><strong>Avg HR:</strong> 137.8</p>
<p><strong>Max HR:</strong> 144.0</p>
<a href="https://www.strava.com/activities/13182455942" rel="noopener noreferrer" target="_blank">View on Strava</a>
</div>
<div class="card">
<h2>Night Ski</h2>
<p><strong>Date:</strong> December 21, 2024</p>
<p><strong>Distance (miles):</strong> 1.03 miles</p>
<p><strong>Elevation Gain (feet):</strong> 248 ft</p>
<p><strong>Moving Time:</strong> 12:35</p>
<p><strong>Avg HR:</strong> 149.5</p>
<p><strong>Max HR:</strong> 158.0</p>
<a href="https://www.strava.com/activities/13158450039" rel="noopener noreferrer" target="_blank">View on Strava</a>
</div>
<div class="card">
<h2>Roller-ski the 15 incline to Adams</h2>
<p><strong>Date:</strong> December 18, 2024</p>
<p><strong>Distance (miles):</strong> 1.03 miles</p>
<p><strong>Elevation Gain (feet):</strong> 248 ft</p>
<p><strong>Moving Time:</strong> 12:51</p>
<p><strong>Avg HR:</strong> 152.6</p>
<p><strong>Max HR:</strong> 158.0</p>
<a href="https://www.strava.com/activities/13138801147" rel="noopener noreferrer" target="_blank">View on Strava</a>
</div>
<div class="card">
<h2>A tentative foray into ski hill training in San Diego</h2>
<p><strong>Date:</strong> December 06, 2024</p>
<p><strong>Distance (miles):</strong> 0.98 miles</p>
<p><strong>Elevation Gain (feet):</strong> 216 ft</p>
<p><strong>Moving Time:</strong> 12:01</p>
<p><strong>Avg HR:</strong> 166.9</p>
<p><strong>Max HR:</strong> 176.0</p>
<a href="https://www.strava.com/activities/13061109697" rel="noopener noreferrer" target="_blank">View on Strava</a>
</div>
<div class="card">
<h2>Ski to work day</h2>
<p><strong>Date:</strong> August 16, 2024</p>
<p><strong>Distance (miles):</strong> 0.83 miles</p>
<p><strong>Elevation Gain (feet):</strong> 0 ft</p>
<p><strong>Moving Time:</strong> 12:31</p>
<p><strong>Avg HR:</strong> 96.1</p>
<p><strong>Max HR:</strong> 110.0</p>
<a href="https://www.strava.com/activities/12173217907" rel="noopener noreferrer" target="_blank">View on Strava</a>
</div>
<!-- Workout cards will be appended here by the script -->
</section>
</main>
</body>
</html>
